// 引入清楚默认样式
@use "reset" as *;
// 滚动条样式
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: $base-menu-background;
}
::-webkit-scrollbar-thumb {
  width: 8px;
  background-color: #f3f5f8;
  border-radius: 8px;
}